<?xml version="1.0" encoding="UTF-8"?>
<Response>
  <Header>
    <Command>Login</Command>
    <Next></Next>
    <RC><%=@rc%></RC>
    <Message><%=@message%></Message>
    <Count>0</Count>
   </Header>
  <Body>
    <UserId>1</UserId>
  </Body>
</Response>

