<?xml version="1.0" encoding="UTF-8"?>
<Response>
  <Header>
    <Command>ReviseCoords</Command>
    <Next>ShowMap</Next>
    <RC>0</RC>
    <Message>OK</Message>
    <Count>0</Count>
  </Header>
  <Body>
    <LAT>61.448083</LAT>
    <LNG>23.855</LNG>
  </Body>
</Response>
