.rightCol Right Column 

.main

  %h1 路径
  #map_canvas{ :style => "width: 660px; height: 490px; border: 1px solid black;"}
  #elevation_chart{ :style => "width:660px; height:200px; border: 1px solid black;" }

  = javascript_include_tag "map"
