!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }/
    %title Clip
    %meta{ :name => "keywords", :content => "key words1" }/
    %meta{ :name => "description", :content => "description words" }/
    %meta{ :name => "viewport", :content => "initial-scale=1.0, user-scalable=no" }/
    = csrf_meta_tag
    %link{ :rel => "stylesheet", :type => "text/css", :media => "all", :href => "/stylesheets/oocss/core/libraries.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :media => "all", :href => "/stylesheets/oocss/core/content.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :media => "all", :href => "/stylesheets/oocss/core/template/template.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :media => "all", :href => "/stylesheets/clip.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "http://code.google.com/apis/maps/documentation/javascript/examples/standard.css" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    = javascript_include_tag "rails"
    %script{ :type => "text/javascript", :src => "http://www.google.com/jsapi" }
    %script{ :type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=true" }

  %body
    .page
      =render :partial => "tiles/head" 
      .body
        = yield
      =render(:partial => "tiles/foot")
